// @use "./variables";

* {
  all: unset;
  border-radius: 10px;
}


.main {
  font-family: 'JetBrains Mono NF', monospace;
  color: black;
   
}



.face {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



